<div class="row p-2">
    <div class="col-2">
        <img width="120" height="80" alt="Angular Logo"
            src="../../../assets/earth-care.png" />
    </div>
    <div class="col"></div>
    <div class="col-3">
        <div class="row">
            <p>📧congairmont@gmail.com</p>
        </div>
        <div class="row">
            <p>☎️(845) 521-4794</p>
        </div>
    </div>
</div>
<div class="row p-2">
    <div class="col-7">
        <div class="row">
            <h1>Earth Care</h1>
        </div>
        <div class="row">
            <p>Join us on this journey. With our hands joined, we can turn environmental challenges into opportunities
                to create positive change</p>
        </div>
    </div>
    <div class="col"></div>
    <div class="col-3 social-media">
        <app-social-media-component></app-social-media-component>
    </div>
</div>